In [2]:
import sqlite3

In [3]:
import pandas as pd

In [7]:
con = sqlite3.connect('sakila.db')

In [8]:
sql_query = 'select * from customer'

In [9]:
df = pd.read_sql(sql_query,con)

In [10]:
df

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
5,6,2,JENNIFER,DAVIS,JENNIFER.DAVIS@sakilacustomer.org,10,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
6,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
7,8,2,SUSAN,WILSON,SUSAN.WILSON@sakilacustomer.org,12,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
8,9,2,MARGARET,MOORE,MARGARET.MOORE@sakilacustomer.org,13,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
9,10,1,DOROTHY,TAYLOR,DOROTHY.TAYLOR@sakilacustomer.org,14,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
10,11,2,LISA,ANDERSON,LISA.ANDERSON@sakilacustomer.org,15,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
11,12,1,NANCY,THOMAS,NANCY.THOMAS@sakilacustomer.org,16,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
12,13,2,KAREN,JACKSON,KAREN.JACKSON@sakilacustomer.org,17,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
13,14,2,BETTY,WHITE,BETTY.WHITE@sakilacustomer.org,18,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
14,15,1,HELEN,HARRIS,HELEN.HARRIS@sakilacustomer.org,19,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
15,16,2,SANDRA,MARTIN,SANDRA.MARTIN@sakilacustomer.org,20,0,2006-02-14 22:04:36.000,2011-09-14 18:10:28
16,17,1,DONNA,THOMPSON,DONNA.THOMPSON@sakilacustomer.org,21,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
17,18,2,CAROL,GARCIA,CAROL.GARCIA@sakilacustomer.org,22,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
18,19,1,RUTH,MARTINEZ,RUTH.MARTINEZ@sakilacustomer.org,23,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
19,20,2,SHARON,ROBINSON,SHARON.ROBINSON@sakilacustomer.org,24,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
20,21,1,MICHELLE,CLARK,MICHELLE.CLARK@sakilacustomer.org,25,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
21,22,1,LAURA,RODRIGUEZ,LAURA.RODRIGUEZ@sakilacustomer.org,26,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
22,23,2,SARAH,LEWIS,SARAH.LEWIS@sakilacustomer.org,27,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
23,24,2,KIMBERLY,LEE,KIMBERLY.LEE@sakilacustomer.org,28,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
24,25,1,DEBORAH,WALKER,DEBORAH.WALKER@sakilacustomer.org,29,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
25,26,2,JESSICA,HALL,JESSICA.HALL@sakilacustomer.org,30,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
26,27,2,SHIRLEY,ALLEN,SHIRLEY.ALLEN@sakilacustomer.org,31,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
27,28,1,CYNTHIA,YOUNG,CYNTHIA.YOUNG@sakilacustomer.org,32,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
28,29,2,ANGELA,HERNANDEZ,ANGELA.HERNANDEZ@sakilacustomer.org,33,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
29,30,1,MELISSA,KING,MELISSA.KING@sakilacustomer.org,34,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
...,...,...,...,...,...,...,...,...,...
569,570,2,IVAN,CROMWELL,IVAN.CROMWELL@sakilacustomer.org,576,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
570,571,2,JOHNNIE,CHISHOLM,JOHNNIE.CHISHOLM@sakilacustomer.org,577,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
571,572,1,SIDNEY,BURLESON,SIDNEY.BURLESON@sakilacustomer.org,578,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
572,573,1,BYRON,BOX,BYRON.BOX@sakilacustomer.org,579,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
573,574,2,JULIAN,VEST,JULIAN.VEST@sakilacustomer.org,580,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
574,575,2,ISAAC,OGLESBY,ISAAC.OGLESBY@sakilacustomer.org,581,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
575,576,2,MORRIS,MCCARTER,MORRIS.MCCARTER@sakilacustomer.org,582,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
576,577,2,CLIFTON,MALCOLM,CLIFTON.MALCOLM@sakilacustomer.org,583,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
577,578,2,WILLARD,LUMPKIN,WILLARD.LUMPKIN@sakilacustomer.org,584,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
578,579,2,DARYL,LARUE,DARYL.LARUE@sakilacustomer.org,585,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
579,580,1,ROSS,GREY,ROSS.GREY@sakilacustomer.org,586,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
580,581,1,VIRGIL,WOFFORD,VIRGIL.WOFFORD@sakilacustomer.org,587,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
581,582,2,ANDY,VANHORN,ANDY.VANHORN@sakilacustomer.org,588,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
582,583,1,MARSHALL,THORN,MARSHALL.THORN@sakilacustomer.org,589,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
583,584,2,SALVADOR,TEEL,SALVADOR.TEEL@sakilacustomer.org,590,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
584,585,1,PERRY,SWAFFORD,PERRY.SWAFFORD@sakilacustomer.org,591,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
585,586,1,KIRK,STCLAIR,KIRK.STCLAIR@sakilacustomer.org,592,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
586,587,1,SERGIO,STANFIELD,SERGIO.STANFIELD@sakilacustomer.org,593,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
587,588,1,MARION,OCAMPO,MARION.OCAMPO@sakilacustomer.org,594,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
588,589,1,TRACY,HERRMANN,TRACY.HERRMANN@sakilacustomer.org,595,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
589,590,2,SETH,HANNON,SETH.HANNON@sakilacustomer.org,596,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
590,591,1,KENT,ARSENAULT,KENT.ARSENAULT@sakilacustomer.org,597,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
591,592,1,TERRANCE,ROUSH,TERRANCE.ROUSH@sakilacustomer.org,598,0,2006-02-14 22:04:37.000,2011-09-14 18:10:44
592,593,2,RENE,MCALISTER,RENE.MCALISTER@sakilacustomer.org,599,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
593,594,1,EDUARDO,HIATT,EDUARDO.HIATT@sakilacustomer.org,600,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
595,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
596,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 9 columns):
customer_id    599 non-null int64
store_id       599 non-null int64
first_name     599 non-null object
last_name      599 non-null object
email          599 non-null object
address_id     599 non-null int64
active         599 non-null object
create_date    599 non-null object
last_update    599 non-null object
dtypes: int64(3), object(6)
memory usage: 42.2+ KB

In [13]:
def sql2df(sql_q):
    df = pd.read_sql(sql_q,con)
    return df

In [15]:
query = '''select first_name, last_name
                from customer'''
sql2df(query)

    first_name  last_name
0         MARY      SMITH
1     PATRICIA    JOHNSON
2        LINDA   WILLIAMS
3      BARBARA      JONES
4    ELIZABETH      BROWN
5     JENNIFER      DAVIS
6        MARIA     MILLER
7        SUSAN     WILSON
8     MARGARET      MOORE
9      DOROTHY     TAYLOR
10        LISA   ANDERSON
11       NANCY     THOMAS
12       KAREN    JACKSON
13       BETTY      WHITE
14       HELEN     HARRIS
15      SANDRA     MARTIN
16       DONNA   THOMPSON
17       CAROL     GARCIA
18        RUTH   MARTINEZ
19      SHARON   ROBINSON
20    MICHELLE      CLARK
21       LAURA  RODRIGUEZ
22       SARAH      LEWIS
23    KIMBERLY        LEE
24     DEBORAH     WALKER
25     JESSICA       HALL
26     SHIRLEY      ALLEN
27     CYNTHIA      YOUNG
28      ANGELA  HERNANDEZ
29     MELISSA       KING
..         ...        ...
569       IVAN   CROMWELL
570    JOHNNIE   CHISHOLM
571     SIDNEY   BURLESON
572      BYRON        BOX
573     JULIAN       VEST
574      ISAAC    OGLESBY
575     MORRIS   MCCARTER
576    CLIFTON    MALCOLM
577    WILLARD    LUMPKIN
578      DARYL      LARUE
579       ROSS       GREY
580     VIRGIL    WOFFORD
581       ANDY    VANHORN
582   MARSHALL      THORN
583   SALVADOR       TEEL
584      PERRY   SWAFFORD
585       KIRK    STCLAIR
586     SERGIO  STANFIELD
587     MARION     OCAMPO
588      TRACY   HERRMANN
589       SETH     HANNON
590       KENT  ARSENAULT
591   TERRANCE      ROUSH
592       RENE  MCALISTER
593    EDUARDO      HIATT
594   TERRENCE  GUNDERSON
595    ENRIQUE   FORSYTHE
596    FREDDIE     DUGGAN
597       WADE   DELVALLE
598     AUSTIN    CINTRON

[599 rows x 2 columns]

In [17]:
sql2df('select distinct(country_id) from city')

     country_id
0             1
1             2
2             3
3             4
4             5
5             6
6             7
7             8
8             9
9            10
10           11
11           12
12           13
13           14
14           15
15           16
16           17
17           18
18           19
19           20
20           21
21           22
22           23
23           24
24           25
25           26
26           27
27           28
28           29
29           30
..          ...
79           80
80           81
81           82
82           83
83           84
84           85
85           86
86           87
87           88
88           89
89           90
90           91
91           92
92           93
93           94
94           95
95           96
96           97
97           98
98           99
99          100
100         101
101         102
102         103
103         104
104         105
105         106
106         107
107         108
108         109

[109 rows x 1 columns]

In [18]:
q1 = ''' select *
            from customer where store_id = 1'''
sql2df(q1)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
3,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
4,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
5,10,1,DOROTHY,TAYLOR,DOROTHY.TAYLOR@sakilacustomer.org,14,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
6,12,1,NANCY,THOMAS,NANCY.THOMAS@sakilacustomer.org,16,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
7,15,1,HELEN,HARRIS,HELEN.HARRIS@sakilacustomer.org,19,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
8,17,1,DONNA,THOMPSON,DONNA.THOMPSON@sakilacustomer.org,21,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
9,19,1,RUTH,MARTINEZ,RUTH.MARTINEZ@sakilacustomer.org,23,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
10,21,1,MICHELLE,CLARK,MICHELLE.CLARK@sakilacustomer.org,25,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
11,22,1,LAURA,RODRIGUEZ,LAURA.RODRIGUEZ@sakilacustomer.org,26,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
12,25,1,DEBORAH,WALKER,DEBORAH.WALKER@sakilacustomer.org,29,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
13,28,1,CYNTHIA,YOUNG,CYNTHIA.YOUNG@sakilacustomer.org,32,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
14,30,1,MELISSA,KING,MELISSA.KING@sakilacustomer.org,34,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
15,32,1,AMY,LOPEZ,AMY.LOPEZ@sakilacustomer.org,36,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
16,37,1,PAMELA,BAKER,PAMELA.BAKER@sakilacustomer.org,41,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
17,38,1,MARTHA,GONZALEZ,MARTHA.GONZALEZ@sakilacustomer.org,42,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
18,39,1,DEBRA,NELSON,DEBRA.NELSON@sakilacustomer.org,43,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
19,41,1,STEPHANIE,MITCHELL,STEPHANIE.MITCHELL@sakilacustomer.org,45,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
20,44,1,MARIE,TURNER,MARIE.TURNER@sakilacustomer.org,48,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
21,45,1,JANET,PHILLIPS,JANET.PHILLIPS@sakilacustomer.org,49,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
22,47,1,FRANCES,PARKER,FRANCES.PARKER@sakilacustomer.org,51,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
23,48,1,ANN,EVANS,ANN.EVANS@sakilacustomer.org,52,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
24,50,1,DIANE,COLLINS,DIANE.COLLINS@sakilacustomer.org,54,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
25,51,1,ALICE,STEWART,ALICE.STEWART@sakilacustomer.org,55,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
26,52,1,JULIE,SANCHEZ,JULIE.SANCHEZ@sakilacustomer.org,56,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
27,53,1,HEATHER,MORRIS,HEATHER.MORRIS@sakilacustomer.org,57,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
28,54,1,TERESA,ROGERS,TERESA.ROGERS@sakilacustomer.org,58,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
29,56,1,GLORIA,COOK,GLORIA.COOK@sakilacustomer.org,60,1,2006-02-14 22:04:36.000,2011-09-14 18:10:29
...,...,...,...,...,...,...,...,...,...
296,543,1,LANCE,PEMBERTON,LANCE.PEMBERTON@sakilacustomer.org,549,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
297,546,1,KELLY,KNOTT,KELLY.KNOTT@sakilacustomer.org,552,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
298,547,1,KURT,EMMONS,KURT.EMMONS@sakilacustomer.org,553,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
299,548,1,ALLAN,CORNISH,ALLAN.CORNISH@sakilacustomer.org,554,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
300,549,1,NELSON,CHRISTENSON,NELSON.CHRISTENSON@sakilacustomer.org,555,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
301,553,1,MAX,PITT,MAX.PITT@sakilacustomer.org,559,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
302,554,1,DWAYNE,OLVERA,DWAYNE.OLVERA@sakilacustomer.org,560,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
303,555,1,DWIGHT,LOMBARDI,DWIGHT.LOMBARDI@sakilacustomer.org,561,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
304,557,1,FELIX,GAFFNEY,FELIX.GAFFNEY@sakilacustomer.org,563,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
305,558,1,JIMMIE,EGGLESTON,JIMMIE.EGGLESTON@sakilacustomer.org,564,0,2006-02-14 22:04:37.000,2011-09-14 18:10:43
306,560,1,JORDAN,ARCHULETA,JORDAN.ARCHULETA@sakilacustomer.org,566,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
307,562,1,WALLACE,SLONE,WALLACE.SLONE@sakilacustomer.org,568,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
308,566,1,CASEY,MENA,CASEY.MENA@sakilacustomer.org,572,1,2006-02-14 22:04:37.000,2011-09-14 18:10:43
309,572,1,SIDNEY,BURLESON,SIDNEY.BURLESON@sakilacustomer.org,578,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
310,573,1,BYRON,BOX,BYRON.BOX@sakilacustomer.org,579,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
311,580,1,ROSS,GREY,ROSS.GREY@sakilacustomer.org,586,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
312,581,1,VIRGIL,WOFFORD,VIRGIL.WOFFORD@sakilacustomer.org,587,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
313,583,1,MARSHALL,THORN,MARSHALL.THORN@sakilacustomer.org,589,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
314,585,1,PERRY,SWAFFORD,PERRY.SWAFFORD@sakilacustomer.org,591,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
315,586,1,KIRK,STCLAIR,KIRK.STCLAIR@sakilacustomer.org,592,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
316,587,1,SERGIO,STANFIELD,SERGIO.STANFIELD@sakilacustomer.org,593,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
317,588,1,MARION,OCAMPO,MARION.OCAMPO@sakilacustomer.org,594,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
318,589,1,TRACY,HERRMANN,TRACY.HERRMANN@sakilacustomer.org,595,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
319,591,1,KENT,ARSENAULT,KENT.ARSENAULT@sakilacustomer.org,597,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
320,592,1,TERRANCE,ROUSH,TERRANCE.ROUSH@sakilacustomer.org,598,0,2006-02-14 22:04:37.000,2011-09-14 18:10:44
321,594,1,EDUARDO,HIATT,EDUARDO.HIATT@sakilacustomer.org,600,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
322,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
323,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
324,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44
325,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37.000,2011-09-14 18:10:44

In [23]:
q2 = ''' select * from customer
            where first_name = 'MARY' '''
sql2df(q2)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28

In [24]:
df.head()

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36.000,2011-09-14 18:10:28

In [25]:
q3 = '''select * from film
            where rating = 'PG' or rating = 'R' '''
df3 = sql2df(q3)

In [26]:
df3.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:32
1,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,None,3,2.99,169,17.99,PG,Deleted Scenes,2011-09-14 18:05:33
2,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,None,6,4.99,54,15.99,R,Trailers,2011-09-14 18:05:33
3,12,ALASKA PHANTOM,A Fanciful Saga of a Hunter And a Pastry Chef ...,2006,1,None,6,0.99,136,22.99,PG,"Commentaries,Deleted Scenes",2011-09-14 18:05:33
4,13,ALI FOREVER,A Action-Packed Drama of a Dentist And a Croco...,2006,1,None,4,4.99,150,21.99,PG,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:33

In [28]:
q3 = '''select count(customer_id)
            from customer '''
sql2df(q3)

   count(customer_id)
0                 599

In [38]:
con = sqlite3.connect('aho.db')

In [39]:
sql_query = 'select * from aho1'

In [40]:
df = pd.read_sql(sql_query,con)

In [41]:
df

      id  name  total
0      0  sato      0
1      1            0
2      2            0
3     13            0
4   1002         9000
5   1003            0
6   1004  sato  20000
7   1005         9999
8   1006    sa     12
9   1007     s      0
10  1008  aaas      0
11  1009   sss      0
12  1010    dc      0
13  1011    cc      0
14  1012  cccc      0
15  1013   sff      0
16  1014  sdff      0
17  1015   saa      0
18  1016   ssd      0
19  1017    dd      0
20  1018   ddd      0
21  1019   qqe      0

#webã‚¹ã‚¯ãƒ¬ã‚¤ãƒ”ãƒ³ã‚°

In [42]:
from bs4 import BeautifulSoup

In [43]:
import requests

In [44]:
url = 'http://www.ucop.edu/operating-budget/budgets-and-reports/legislative-reports/2013-14-legislative-session.html'

In [45]:
# ãƒ‡ãƒ¼ã‚¿ã‚’å–å¾—
result = requests.get(url)
c = result.content

# HTMLã‚’ã‚‚ã¨ã«ã€ã‚ªãƒ–ã‚¸ã‚§ã‚¯ãƒˆã‚’ä½œã‚‹
soup = BeautifulSoup(c)

In [46]:
soup

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 no-js"  lang="en"><![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<title>Legislative reports | UCOP</title>
<meta content="d44df662803065536e68780fc8cfd032" name="id"/>
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Le styles -->
<!-- main.css - see /_common/files/css/main.less non-minified sources -->
<link href="/_common/files/css/main.css?v=1.2" media="screen" rel="stylesheet"/>
<link href="/_common/files/css/print.css" media="print" rel="stylesheet"/>
<!-- Le fav and touch icons -->
<link href="/_common/files/img/ico/favicon.ico" rel="shortcut icon"/>
<!-- <link href="/files/img/ico/apple-touch-icon.png" rel="apple-touch-icon"/>
<link href="/files/img/ico/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="/files/img/ico/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/> -->
<!-- Custom styles -->
<!--[if gt IE 8]><!--><link href="/_common/files/css/ff-old.css" rel="stylesheet"/><!--<![endif]-->
<script src="/_common/files/js/protection.js"></script>
</head><body>
<div aria-label="skiplink" role="navigation">
<a class="skip-link" href="#content">Skip to Main Content</a>
</div>
<div id="bg-left"></div>
<div id="bg-right"></div>
<div id="wrapper">
<div class="container">
<!-- Pills
    ================================================== -->
<div class="row mast" role="banner">
<div class="span4 logo">
<div id="logo"><a href="https://www.ucop.edu/index.html"><img alt="University of California Office of the President" height="64" src="/_common/files/img/wordmark.png" width="240"/></a></div>
</div>
<div class="span8 main-nav offset4">
<div class="navbar adjusted">
<div aria-labelledby="main-menu-mobile" class="navbar-inner" role="navigation">
<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" id="main-menu-mobile"> Main Menu <b class="caret">Â </b> </a>
<div class="nav-collapse">
<ul class="nav pull-right" id="topmenu">
<li><a href="http://jobs.universityofcalifornia.edu">Jobs</a></li>
<li><a href="/directory-search/index.php" title="Search the UCOP directory">People</a></li>
<li>
<form action="/search" class="navbar-search" id="search-form" method="get">
<!--
The search form's submit event is being handled
by an inline script further down the page
-->
<label class="skip-link" for="query-field">search</label>
<input class="search-query" id="query-field" name="q" placeholder="Search" type="text"/>
</form>
</li>
</ul>
<ul class="nav pull-right" id="ariatopnav">
<li class=""><a href="/">Home</a></li>
<li class=""><a href="/about/">About</a></li>
<li class="dropdown"> <a class="dropdown-toggle disabled" data-toggle="dropdown" href="/organization/"> Organization <b class="caret">Â </b></a>
<div class="dropdown-menu">
<a class="skip-link skip-menu" href="#">Skip Menu</a>
<!-- links -->
<div class="row">
<div class="leftcol">
<ul>
<li><a class="mega-header" href="/finance-office/index.html">Chief Financial Officer</a></li>
<li><a href="/operating-budget/index.html">Budget Analysis &amp; Planning</a></li>
<li><a href="/capital-asset-strategies-finance/index.html">Capital Asset Strategies &amp; Finance</a></li>
<li><a href="/financial-accounting/index.html">Financial Accounting</a></li>
<li><a href="/procurement-services/index.html">Procurement Services</a></li>
<li><a href="/risk-services/index.html">Risk Services</a></li>
</ul>
<ul>
<li><a class="mega-header" href="/business-operations/index.html">Chief Operating Officer</a></li>
<li><a href="/energy-sustainability/index.html">Energy &amp; Sustainability</a></li>
<li><a href="/human-resources/index.html">Human Resources</a></li>
<li><a href="/information-technology-services/index.html">Information Technology Services</a></li>
<li><a href="/operational-services/index.html">Operational Services</a></li>
<li><a href="/pmo/index.html">Strategy and Program Management Office</a></li>
<li><a href="/ucop-operations/index.html">UCOP Operations</a></li>
</ul>
</div>
<div class="midcol">
<ul>
<li><a class="mega-header" href="/academic-affairs/index.html">Academic Affairs</a></li>
<li><a href="/academic-personnel-programs/index.html">Academic Personnel &amp; Programs</a></li>
<li><a href="/diversity-engagement/index.html">Diversity &amp; Engagement</a></li>
<li><a href="/institutional-research-academic-planning/index.html">Institutional Research &amp; Academic Planning</a></li>
<li><a href="/research-graduate-studies/index.html">Research &amp; Graduate Studies</a></li>
<li><a href="/student-affairs/index.html">Student Affairs</a></li>
</ul>
<ul>
<li><a class="mega-header" href="/external-relations-communications/index.html">External Relations &amp; Communications</a></li>
<li><a href="/executive-communications/index.html">Executive Communications &amp; Engagement</a></li>
<li><a href="/federal-governmental-relations/index.html">Federal Governmental Relations</a></li>
<li><a href="/institutional-advancement/index.html">Institutional Advancement</a></li>
<li><a href="/institutional-communications/index.html">Institutional Communications</a></li>
<li><a href="/legislative-analysis/index.html">Legislative Analysis</a></li>
<li><a href="/marketing-communications/index.html">Marketing Communications</a></li>
<li><a href="/state-governmental-relations/index.html">State Governmental Relations</a></li>
<li><a href="/media-relations/index.html">Strategic Communications &amp; Media Relations</a></li>
<li><a href="/uc-health-communications/index.html">UC Health Communications</a></li>
</ul>
</div>
<div class="rightcol">
<ul>
<li><a class="mega-others" href="http://ucanr.edu/">Agriculture &amp; Natural Resources</a></li>
<li><a class="mega-others" href="/investment-office/index.html">Chief Investment Officer</a></li>
<li><a class="mega-others" href="/ethics-compliance-audit-services/index.html">Ethics, Compliance &amp; Audit Services</a></li>
<li><a class="mega-others" href="/general-counsel/index.html">General Counsel</a></li>
<li><a class="mega-others" href="/uc-health/index.html">UC Health</a></li>
<li><a class="mega-others" href="/innovation-entrepreneurship/index.html">Office of Innovation &amp; Entrepreneurship</a></li>
<li><a class="mega-others" href="/title-ix/index.html">Systemwide Title IX Office</a></li>
<li><a class="mega-others" href="/laboratory-management/index.html">UC National Laboratories</a><br/></li>
<li><a class="mega-others" href="https://senate.universityofcalifornia.edu/">Academic Senate</a></li>
<li><a class="mega-others" href="http://regents.universityofcalifornia.edu/">Board of Regents</a></li>
<li><a class="mega-others" href="/president/index.html">President Napolitano</a></li>
</ul>
</div>
</div>
</div>
</li>
<li class=""><a href="/initiatives/">Initiatives</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div aria-label="breadcrumbs" class="row" role="navigation">
<div class="span12">
<ul class="breadcrumb">
<li> <a href="https://www.ucop.edu/index.html">UCOP</a> <span class="divider">&gt;</span> </li>
<li> <a href="https://www.ucop.edu/finance-office/index.html">CFO</a> <span class="divider">&gt;</span> </li>
<li> <a href="../../index.html">Budget Analysis and Planning</a> <span class="divider">&gt;</span> </li>
<li>
<a href="../index.html">Budgets &amp; Reports</a>
<span class="divider">&gt;</span>
</li>
<li>
<a href="index.html">Legislative reports</a>
<span class="divider">&gt;</span>
</li>
<li>
<a href="2013-14-legislative-session.html">Legislative reports</a>
</li>
</ul>
</div>
</div>
<div aria-label="content" class="list-land" id="content" role="region">
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
<div class="span12">
<h1 class="page-header">Budget Analysis and Planning</h1>
</div>
<div class="span12">
<ul aria-label="tabs" class="nav nav-tabs sub-nav tab4" role="navigation">
<li class=""><a class="" href="../../index.html">Overview</a></li>
<li class=""><a class="" href="../../staff/index.html">Staff</a></li>
<li class="active"><a class="" href="../index.html">Budgets &amp; Reports</a></li>
<li class=""><a class="" href="../../fees-and-enrollments/index.html">Fees &amp; Enrollments</a></li>
</ul>
</div>
</div>
<!-- Example row of columns -->
<div class="row">
<div class="span8 dotted-top" role="main">
<h2>Legislative reports</h2>
<h3 class="subhead">2013-2014</h3>
<table cellpadding="5" cellspacing="0" class="table-striped" id="report" summary="2009-10 Legislative Reports in a table with one level of column and row headers" width="100%">
<tbody>
<tr>
<th scope="col"></th><th scope="col">Date</th><th scope="col">Report title</th>
</tr>
<tr>
<td scope="row">1</td>
<td scope="row">08/01/13</td>
<td scope="row"><a href="../../_files/legreports/1314/2013-14cobcp.pdf">2013-14 (EDU 92495) Proposed Capital Outlay Projects (2013-14 only) (pdf)</a></td>
</tr>
<tr>
<td scope="row">2</td>
<td scope="row">09/01/13</td>
<td scope="row"><a href="../../_files/legreports/1314/2014-15cobcp.pdf">2014-15Â  (EDU 92495) Proposed Capital Outlay Projects (pdf)</a></td>
</tr>
<tr>
<td scope="row">3</td>
<td scope="row">11/01/13</td>
<td scope="row"><a href="../../_files/legreports/1314/utilizationofclassroomsandresearchspace-11-1-13.pdf">Utilization of Classroom and Teaching Laboratories (pdf)</a>Â (<em>Final Report; biennial</em>)</td>
</tr>
<tr>
<td scope="row">4</td>
<td scope="row">11/01/13</td>
<td scope="row"><a href="../../_files/legreports/1314/instructionandresearchspacesummary-11-1-2013.pdf">Instruction and Research Space Summary &amp; Analysis (pdf)</a></td>
</tr>
<tr>
<td scope="row">5</td>
<td scope="row">11/15/13</td>
<td scope="row"><a href="../../_files/legreports/1314/seplegreport-1-21-14.pdf">Statewide Energy Partnership Program (pdf)</a></td>
</tr>
<tr>
<td scope="row">6</td>
<td scope="row">11/30/13</td>
<td scope="row"><a href="http://ucop.edu/capital-planning/_files/capital/201323/_UC-Capital-Financial-Plan-2013.pdf">2013-23 Capital Financial Plan (pdf)</a></td>
</tr>
<tr>
<td scope="row">7</td>
<td scope="row">11/30/13</td>
<td scope="row"><a href="../../_files/legreports/1314/projectsavingsprogramlegrpt-11-2013.pdf">Projects Savings Funded from Capital Outlay Bond Funds (pdf)</a></td>
</tr>
<tr>
<td scope="row">8</td>
<td scope="row">12/01/13</td>
<td scope="row"><a href="../../_files/legreports/1314/streamlinedcapitaloutlayprojectslegrpt-12-13.pdf">Streamlined Capital Projects Funded from Capital (pdf)</a></td>
</tr>
<tr>
<td scope="row">9</td>
<td scope="row">01/01/14</td>
<td scope="row"><a href="../../_files/legreports/1314/annualgeneralobligationbondsaccountabilitylegrep-11-2013.pdf">Annual General Obligation Bonds Accountability (pdf)</a></td>
</tr>
<tr>
<td scope="row">10</td>
<td scope="row">01/01/14</td>
<td scope="row"><a href="../../_files/legreports/1314/2012-13sbulegrpt-3-31-14.pdf">Small Business Utilization (pdf)</a></td>
</tr>
<tr>
<td scope="row">11</td>
<td scope="row">01/01/14</td>
<td scope="row"><a href="../../_files/legreports/1314/instfinaid-prelimlegreport-2-10-14.pdf">Institutional Financial Aid Programs - Preliminary report (pdf)</a></td>
</tr>
<tr>
<td scope="row">12</td>
<td scope="row">01/10/14</td>
<td scope="row"><a href="../../_files/legreports/1314/summerenrollmentlegreport-2-18-2014.pdf">Summer Enrollment (pdf)</a></td>
</tr>
<tr>
<td scope="row">13</td>
<td scope="row">01/15/14</td>
<td scope="row"><a href="../../_files/legreports/1314/contractingoutforservicesatnewlydevelopedfacilitieslegrep-1-8-2014.pdf">Contracting Out for Services at Newly Developed Facilities (pdf)</a></td>
</tr>
<tr>
<td scope="row">14</td>
<td scope="row">03/01/14</td>
<td scope="row"><a href="../../_files/legreports/1314/performanceoutcomemeasureslegreport-March-2014.pdf">Performance Measures (pdf)</a></td>
</tr>
<tr>
<td scope="row">15</td>
<td scope="row">03/01/14</td>
<td scope="row"><a href="../../_files/legreports/1314/ELWRlegrpt-3-4-14.pdf">Entry Level Writing Requirement (pdf)</a></td>
</tr>
<tr>
<td scope="row">16</td>
<td scope="row">03/31/14</td>
<td scope="row"><a href="../../_files/legreports/1314/2012-13annualstudentsupportlegreport-4-1-14.pdf">Annual Report on StudentÂ Financial Support (pdf)</a><a href="../../_files/legreports/1213/2011-12uc-mexicofacilityresearchandacadPrgms-casa.pdf"></a></td>
</tr>
<tr>
<td scope="row">17</td>
<td scope="row">04/01/14</td>
<td scope="row"><a href="../../_files/legreports/1314/uniquestatewidepupilidentifierlegrpt-03-10-14.pdf">Unique Statewide Pupil Identifier (pdf)</a></td>
</tr>
<tr>
<td scope="row">18</td>
<td scope="row">04/01/14</td>
<td scope="row"><a href="../../_files/legreports/1314/progressreportucr-somlegrpt-4-2-14.pdf">Riverside School of Medicine (pdf)</a></td>
</tr>
<tr>
<td scope="row">19</td>
<td scope="row">04/01/14</td>
<td scope="row">SAPEP Funds and Outcomes - N/A<br/></td>
</tr>
<tr>
<td scope="row">20</td>
<td scope="row">05/15/14</td>
<td scope="row"><a href="../../_files/legreports/1314/2012-13ReceiptandUseofLotteryFundsLegReport-5-15-14.pdf">Receipt and Use of Lottery Funds (pdf)</a></td>
</tr>
<tr>
<td scope="row">21</td>
<td scope="row">07/01/14</td>
<td scope="row"><a href="../../_files/legreports/1314/5thAmendedProposedSEPListtoState-10-31-13.pdf">Cogeneration and Energy Consv Major Capital Projects (pdf)</a></td>
</tr>
<tr>
<td scope="row">
</td>
<td scope="row">
</td>
<td scope="row">
</td>
</tr>
<tr>
<td scope="row"><strong>Â </strong></td>
<td scope="row"><strong>Future Reports</strong></td>
<td scope="row">
</td>
</tr>
<tr>
<td scope="row">24</td>
<td scope="row">12-<a></a>31-15</td>
<td scope="row">Breast Cancer Research Fund</td>
</tr>
<tr>
<td scope="row">25</td>
<td scope="row">12-31-15</td>
<td scope="row">Cigarette and Tobacco Products Surtax Research Program</td>
</tr>
<tr>
<td scope="row">26</td>
<td scope="row">01-01-16</td>
<td scope="row">Best Value Program</td>
</tr>
<tr>
<td scope="row">27</td>
<td scope="row">01-01-16</td>
<td scope="row">California Subject Matter Programs</td>
</tr>
<tr>
<td scope="row">28</td>
<td scope="row">04-01-16</td>
<td scope="row">COSMOS Program Outcomes</td>
</tr>
</tbody>
</table>
</div>
<div aria-label="sidebar" class="span4 sidebar" role="navigation">
<div class="row">
<div class="span4 blustripe">
<h5>Related resources</h5>
<ul class="prp-dots">
<li> <a href="index.html">Back to state-mandated reports</a>
</li>
<li> <a href="../index.html">View all budgets and reports</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="row less3 novrflw">
</div>
</div>
<!-- /content -->
</div>
<!-- /container -->
</div>
<!-- /wrapper -->
<footer><div><!-- wrapper div, because the include only wants to display one div -->
<div class="row footfirst">
<div class="span12 footfirst-inner">
<h2>UCOP Divisions &amp; Departments</h2>
<div class="row-fluid">
<div class="span4">
<p><a class="mega-header" href="/finance-office/index.html">Chief Financial Officer</a></p>
<ul>
<li><a href="/operating-budget/index.html">Budget Analysis &amp; Planning</a></li>
<li><a href="/capital-asset-strategies-finance/index.html">Capital Asset Strategies &amp; Finance</a></li>
<li><a href="/financial-accounting/index.html">Financial Accounting</a></li>
<li><a href="/procurement-services/index.html">Procurement Services</a></li>
<li><a href="/risk-services/index.html">Risk Services</a></li>
</ul>
<p><a class="mega-header" href="/business-operations/index.html">Chief Operating Officer</a></p>
<ul>
<li><a href="/energy-sustainability/index.html">Energy &amp; Sustainability</a></li>
<li><a href="/human-resources/index.html">Human Resources</a></li>
<li><a href="/information-technology-services/index.html">Information Technology Services</a></li>
<li><a href="/operational-services/index.html">Operational Services</a></li>
<li><a href="/pmo/index.html">Strategy and Program Management Office</a></li>
<li><a href="/ucop-operations/index.html">UCOP Operations</a></li>
</ul>
</div>
<div class="span4">
<p><a class="mega-header" href="/academic-affairs/index.html">Academic Affairs</a></p>
<ul>
<li><a href="/academic-personnel-programs/index.html">Academic Personnel &amp; Programs</a></li>
<li><a href="/diversity-engagement/index.html">Diversity &amp; Engagement</a></li>
<li><a href="/institutional-research-academic-planning/index.html">Institutional Research &amp; Academic Planning</a></li>
<li><a href="/research-graduate-studies/index.html">Research &amp; Graduate Studies</a></li>
<li><a href="/student-affairs/index.html">Student Affairs</a></li>
</ul>
<p><a class="mega-header" href="/external-relations-communications/index.html">External Relations &amp; Communications</a></p>
<ul>
<li><a href="/executive-communications/index.html">Executive Communications &amp; Engagement</a></li>
<li><a href="/federal-governmental-relations/index.html">Federal Governmental Relations</a></li>
<li><a href="/institutional-advancement/index.html">Institutional Advancement</a></li>
<li><a href="/institutional-communications/index.html">Institutional Communications</a></li>
<li><a href="/legislative-analysis/index.html">Legislative Analysis</a></li>
<li><a href="/marketing-communications/index.html">Marketing Communications</a></li>
<li><a href="/state-governmental-relations/index.html">State Governmental Relations</a></li>
<li><a href="/media-relations/index.html">Strategic Communications &amp; Media Relations</a></li>
<li><a href="/uc-health-communications/index.html">UC Health Communications</a></li>
</ul>
</div>
<div class="span4">
<p><a class="mega-others" href="http://ucanr.edu/">Agriculture &amp; Natural Resources</a></p>
<p><a class="mega-others" href="/investment-office/index.html">Chief Investment Officer</a></p>
<p><a class="mega-others" href="/ethics-compliance-audit-services/index.html">Ethics, Compliance &amp; Audit Services</a></p>
<p><a class="mega-others" href="/general-counsel/index.html">General Counsel</a></p>
<p><a class="mega-others" href="/uc-health/index.html">UC Health</a></p>
<p><a class="mega-others" href="/innovation-entrepreneurship/index.html">Office of Innovation &amp; Entrepreneurship</a></p>
<p><a class="mega-others" href="/laboratory-management/index.html">UC National Laboratories</a></p>
<p><a class="mega-others" href="/title-ix/index.html">Systemwide Title IX Office</a></p>
<p><a class="mega-others" href="/president/index.html">President Napolitano</a></p>
</div>
</div>
</div>
</div>
<div class="row footsec">
<div class="span12 footsec-inner">
<div class="row-fluid">
<div class="span4">
<ul>
<li><strong><a href="https://www.universityofcalifornia.edu/" rel="noopener" target="_blank">University of California</a></strong></li>
<li><strong><a href="https://senate.universityofcalifornia.edu/" rel="noopener" target="_blank">Academic Senate</a></strong></li>
<li><strong><a href="http://regents.universityofcalifornia.edu/" rel="noopener" target="_blank">Board of Regents</a></strong></li>
<li><strong><a href="https://ucnet.universityofcalifornia.edu" rel="noopener" target="_blank">UCnet</a></strong></li>
</ul>
</div>
<div class="span4">
<ul>
<li><a href="https://www.ucop.edu/accessibility/index.html">Accessibility</a></li>
<li><a href="https://www.ucop.edu/terms/index.html">Terms of Use</a></li>
</ul>
</div>
<div class="span4">
<ul class="pull-right">

In [47]:
summary = soup.find("div",{'class':'list-land','id':'content'})

# tableã‚’è¦‹ã¤ã‘ã¾ã™ã€‚
tables = summary.find_all('table')

In [48]:
tables

[<table cellpadding="5" cellspacing="0" class="table-striped" id="report" summary="2009-10 Legislative Reports in a table with one level of column and row headers" width="100%">
 <tbody>
 <tr>
 <th scope="col"></th><th scope="col">Date</th><th scope="col">Report title</th>
 </tr>
 <tr>
 <td scope="row">1</td>
 <td scope="row">08/01/13</td>
 <td scope="row"><a href="../../_files/legreports/1314/2013-14cobcp.pdf">2013-14 (EDU 92495) Proposed Capital Outlay Projects (2013-14 only) (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">2</td>
 <td scope="row">09/01/13</td>
 <td scope="row"><a href="../../_files/legreports/1314/2014-15cobcp.pdf">2014-15Â  (EDU 92495) Proposed Capital Outlay Projects (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">3</td>
 <td scope="row">11/01/13</td>
 <td scope="row"><a href="../../_files/legreports/1314/utilizationofclassroomsandresearchspace-11-1-13.pdf">Utilization of Classroom and Teaching Laboratories (pdf)</a>Â (<em>Final Report; biennial</em>)</td>
 </tr>
 <tr>
 <td scope="row">4</td>
 <td scope="row">11/01/13</td>
 <td scope="row"><a href="../../_files/legreports/1314/instructionandresearchspacesummary-11-1-2013.pdf">Instruction and Research Space Summary &amp; Analysis (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">5</td>
 <td scope="row">11/15/13</td>
 <td scope="row"><a href="../../_files/legreports/1314/seplegreport-1-21-14.pdf">Statewide Energy Partnership Program (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">6</td>
 <td scope="row">11/30/13</td>
 <td scope="row"><a href="http://ucop.edu/capital-planning/_files/capital/201323/_UC-Capital-Financial-Plan-2013.pdf">2013-23 Capital Financial Plan (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">7</td>
 <td scope="row">11/30/13</td>
 <td scope="row"><a href="../../_files/legreports/1314/projectsavingsprogramlegrpt-11-2013.pdf">Projects Savings Funded from Capital Outlay Bond Funds (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">8</td>
 <td scope="row">12/01/13</td>
 <td scope="row"><a href="../../_files/legreports/1314/streamlinedcapitaloutlayprojectslegrpt-12-13.pdf">Streamlined Capital Projects Funded from Capital (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">9</td>
 <td scope="row">01/01/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/annualgeneralobligationbondsaccountabilitylegrep-11-2013.pdf">Annual General Obligation Bonds Accountability (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">10</td>
 <td scope="row">01/01/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/2012-13sbulegrpt-3-31-14.pdf">Small Business Utilization (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">11</td>
 <td scope="row">01/01/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/instfinaid-prelimlegreport-2-10-14.pdf">Institutional Financial Aid Programs - Preliminary report (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">12</td>
 <td scope="row">01/10/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/summerenrollmentlegreport-2-18-2014.pdf">Summer Enrollment (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">13</td>
 <td scope="row">01/15/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/contractingoutforservicesatnewlydevelopedfacilitieslegrep-1-8-2014.pdf">Contracting Out for Services at Newly Developed Facilities (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">14</td>
 <td scope="row">03/01/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/performanceoutcomemeasureslegreport-March-2014.pdf">Performance Measures (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">15</td>
 <td scope="row">03/01/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/ELWRlegrpt-3-4-14.pdf">Entry Level Writing Requirement (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">16</td>
 <td scope="row">03/31/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/2012-13annualstudentsupportlegreport-4-1-14.pdf">Annual Report on StudentÂ Financial Support (pdf)</a><a href="../../_files/legreports/1213/2011-12uc-mexicofacilityresearchandacadPrgms-casa.pdf"></a></td>
 </tr>
 <tr>
 <td scope="row">17</td>
 <td scope="row">04/01/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/uniquestatewidepupilidentifierlegrpt-03-10-14.pdf">Unique Statewide Pupil Identifier (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">18</td>
 <td scope="row">04/01/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/progressreportucr-somlegrpt-4-2-14.pdf">Riverside School of Medicine (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">19</td>
 <td scope="row">04/01/14</td>
 <td scope="row">SAPEP Funds and Outcomes - N/A<br/></td>
 </tr>
 <tr>
 <td scope="row">20</td>
 <td scope="row">05/15/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/2012-13ReceiptandUseofLotteryFundsLegReport-5-15-14.pdf">Receipt and Use of Lottery Funds (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">21</td>
 <td scope="row">07/01/14</td>
 <td scope="row"><a href="../../_files/legreports/1314/5thAmendedProposedSEPListtoState-10-31-13.pdf">Cogeneration and Energy Consv Major Capital Projects (pdf)</a></td>
 </tr>
 <tr>
 <td scope="row">
 </td>
 <td scope="row">
 </td>
 <td scope="row">
 </td>
 </tr>
 <tr>
 <td scope="row"><strong>Â </strong></td>
 <td scope="row"><strong>Future Reports</strong></td>
 <td scope="row">
 </td>
 </tr>
 <tr>
 <td scope="row">24</td>
 <td scope="row">12-<a></a>31-15</td>
 <td scope="row">Breast Cancer Research Fund</td>
 </tr>
 <tr>
 <td scope="row">25</td>
 <td scope="row">12-31-15</td>
 <td scope="row">Cigarette and Tobacco Products Surtax Research Program</td>
 </tr>
 <tr>
 <td scope="row">26</td>
 <td scope="row">01-01-16</td>
 <td scope="row">Best Value Program</td>
 </tr>
 <tr>
 <td scope="row">27</td>
 <td scope="row">01-01-16</td>
 <td scope="row">California Subject Matter Programs</td>
 </tr>
 <tr>
 <td scope="row">28</td>
 <td scope="row">04-01-16</td>
 <td scope="row">COSMOS Program Outcomes</td>
 </tr>
 </tbody>
 </table>]

In [49]:
data =[]
rows = tables[0].find_all('tr')

In [50]:
len(rows)

29

In [51]:
for tr in rows:
    cols = tr.find_all('td')
    # textã‚’æŽ¢ã—å‡ºã—ã¾ã™ã€‚
    for td in cols:
        text = td.find(text=True) 
        print(text)
        data.append(text)

1
08/01/13
2013-14 (EDU 92495) Proposed Capital Outlay Projects (2013-14 only) (pdf)
2
09/01/13
2014-15Â  (EDU 92495) Proposed Capital Outlay Projects (pdf)
3
11/01/13
Utilization of Classroom and Teaching Laboratories (pdf)
4
11/01/13
Instruction and Research Space Summary & Analysis (pdf)
5
11/15/13
Statewide Energy Partnership Program (pdf)
6
11/30/13
2013-23 Capital Financial Plan (pdf)
7
11/30/13
Projects Savings Funded from Capital Outlay Bond Funds (pdf)
8
12/01/13
Streamlined Capital Projects Funded from Capital (pdf)
9
01/01/14
Annual General Obligation Bonds Accountability (pdf)
10
01/01/14
Small Business Utilization (pdf)
11
01/01/14
Institutional Financial Aid Programs - Preliminary report (pdf)
12
01/10/14
Summer Enrollment (pdf)
13
01/15/14
Contracting Out for Services at Newly Developed Facilities (pdf)
14
03/01/14
Performance Measures (pdf)
15
03/01/14
Entry Level Writing Requirement (pdf)
16
03/31/14
Annual Report on StudentÂ Financial Support (pdf)
17
04/01/14
Unique Statewide Pupil Identifier (pdf)
18
04/01/14
Riverside School of Medicine (pdf)
19
04/01/14
SAPEP Funds and Outcomes - N/A
20
05/15/14
Receipt and Use of Lottery Funds (pdf)
21
07/01/14
Cogeneration and Energy Consv Major Capital Projects (pdf)






Â
Future Reports


24
12-
Breast Cancer Research Fund
25
12-31-15
Cigarette and Tobacco Products Surtax Research Program
26
01-01-16
Best Value Program
27
01-01-16
California Subject Matter Programs
28
04-01-16
COSMOS Program Outcomes